[user]
	name = Andres Garcia
	email = andres.gar@gmail.com
[core]
	excludesfile = /Volumes/hackintoshHDD/Users/andres/.gitignore_global
[alias]
  a = !git add . && git status
  aa = !git add . && git add -u . && git status
  aacm = !git add . && git add -u . && git status && git commit -m
  ac = !git add . && git commit
  acm = !git add . && git commit -m
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
  au = !git add -u . && git status
  c = !git commit
  ca = !git commit --amend # careful
  ck = !git checkout
  cm = !git commit -m
  d = !git diff
  ft = !git fetch origin
  l = !git log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  lg = !git log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll = !git log --stat --abbrev-commit
  llg = !git log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%ae>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
  master = !git checkout master
  pl = !git pull origin
  po = !git push --set-upstream origin
  pu = !git push
  s = !git status
